<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!--<section name="SocksWebProxy" type="com.LandonKey.SocksWebProxy.Proxy.ProxyConfig, SocksWebProxy"/>-->
	</configSections>
	<!--<SocksWebProxy 
		HttpPort="1111" HttpAddress="192.168.0.1" 
		SocksPort="2222" SocksAddress="10.0.0.1"
		Version="Four"
		Username="TestUser" Password="PwdHere"
		/>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
